/** index.module.scss */
.wrapper {
    overflow: hidden;
    margin: 100px auto;
    padding: 10px 0;
    background: #fff;
    border-radius: 5px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    position: relative;
}

.item {
    position: absolute;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

a{
    color: #4A68AD;
    font-weight: 600;
    text-decoration: unset;
    margin-bottom: 10px;
}
